.launch-big_root {
    padding: 2rem 5%;
    width: 100%;
    flex-grow: 1;
    box-sizing: border-box;

    background-color: #0008;
    background-blend-mode: darken;
    background-position: center;
    background-size: cover;
}

.launch-big_root .launch-big_title {
    display: flex;
    align-items: flex-end;
    gap: 2rem;
    font-size: 0.8em;
}

.launch-big_root .launch-big_patch {
    height: 7em;
}

.launch-big_root .launch-big_data {
    text-align: start;
    font-size: 0.8em;
}

.launch-big_root .launch-big_success {
    color: red;
}

.launch-big_root .launch-big_success[data-success="true"] {
    color: lime;
}

.launch-big_root .launch-big_youtube {
    height: calc(calc(100vw - 20rem) / 1.77);
}

.launch-big_root .launch-big_link {
    background-color: #fff5;
    font-weight: bold;
    border-radius: .3em;
    padding: .2em;
}